extends ../layouts/simple.layout.pug
block variables
  -
    var pageTitle = "contacts"
block content
  h1 Мої контакти
  p 
    a(href="mailto:derun.va@gmail.com") derun.va@gmail.com
  p 
    a(href="tel:0968594902") 0968594902
